# Application Configuration
BACKEND_PORT=8000
PYTHON_BACKEND_PORT=8001

PYTHON_BACKEND_HOST=context-search-fastapi

# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
DATABASE_URL="postgresql://<postgres_user>:<postgres_password>@context-search-db:5432/<postgres_db>?schema=public"

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN="2h"
ACCESS_TOKEN_COOKIE_EXPIRES_IN=7200000

JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"

HASH_SALT_ROUNDS=10

# OAUTH Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/integration/google/callback

# Telegram Bot Configuration
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Redis Configuration
REDIS_HOST=context-search-redis
REDIS_PORT=6379

COMMUNICATION_WORKER_CONCURRENCY=5
EMBED_WORKER_CONCURRENCY=2
EMBEDDING_MODEL="Xenova/all-MiniLM-L6-v2"

# Hybrid Search Configuration
HYBRID_SEARCH_TOP_K=5

# RAG Configuration
OLLAMA_BASE_URL=http://host.docker.internal:11434
RAG_MODEL="qwen2.5:3b"

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Syncing Configuration
GMAIL_INITIAL_SYNC_LIMIT=1000
