# Application Configuration
BACKEND_PORT=8000

# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN=
ACCESS_TOKEN_COOKIE_EXPIRES_IN=

JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES_IN=

HASH_SALT_ROUNDS=

# OAUTH Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

