# Application Configuration
BACKEND_PORT=8000

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=context_search_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://<username>:<password>@localhost:<port>/<database_name>?schema=public"

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET_KEY= # {your_secret_key} : string
JWT_ACCESS_TOKEN_EXPIRES_IN= "1h"
ACCESS_TOKEN_COOKIE_EXPIRES_IN= 3600000

JWT_REFRESH_TOKEN_SECRET_KEY= # {your_refresh_token_secret_key} : string
JWT_REFRESH_TOKEN_EXPIRES_IN= "7d"

HASH_SALT_ROUNDS=10

# OAUTH Configuration
GOOGLE_CLIENT_ID=794600134083-6jn8t5i27fhfhb8nt3plsfrlsvmsl3ce.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= # {your_google_client_secret}
GOOGLE_REDIRECT_URI=http://localhost:8000/api/integration/google/callback

